@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #c5c6c7 !important;
  font-family: 'Roboto Slab', serif !important;
  display: flex;
  flex-direction: column;
}

.king {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type=file] {
  color: transparent !important;
}
input[type=file]::before {
color: black;
margin-right: 10px; 
}

/* N progress bar */

#nprogress .bar {
  background: #B026FF !important;
  height: 4px !important;
}

#nprogress .spinner-icon {
  border-top-color: #B026FF !important;
  border-left-color: #B026FF !important;
}

/* Nav bar  */

nav {
  background-color: #1f2833;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  z-index: 5;
}


#navitem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navavatar:hover {
  cursor: pointer;
}

.navavatar img {
  border-radius: 60px;
}

.navsearchbar {
  border-radius: 10px;
  height: 50px;
  width: 400px;
  padding: 20px;
  transition-duration: .3s;
}

.navsearchbar:focus {
  width: 700px;
}
.navlogo {
  cursor: pointer;
}

.navlogo h1 {
  color: #ECEDF7;
}

.navdropdown {
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  position: absolute;
  color: black;
  padding: 20px;
  font-size: 2em;
}

/* .navdropdown p {
  transition-property: width;
  transition-duration: .1s;
}

.navdropdown p:hover {
  border-bottom: 4px solid #B026FF;
} */

.navdropdown p:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #B026FF;
  content: "";
  display: block;
  height: 4px;
  width: 0;
}
.navdropdown p:hover:after {
  width: 100%;
}

.navlogin {
  padding: 10px;
  border-radius: 7px;
  background-image: linear-gradient(to right, #7F7CFC, #587CFC);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.navlogin p {
  color: #ECEDF7;
  margin: 0px;
  cursor: pointer;
  font-size: 1.1em;
}

/* Nav cover */

.navcover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1017%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1018)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1025' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1025' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1017'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1018'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1024'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1022'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1019'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1020'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1021'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1023'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1025'%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='90' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='90' y='450' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='150' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='210' y='390' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='210' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='330' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='330' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='330' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='330' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='330' y='390' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='330' y='450' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='330' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='330' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='390' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='390' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='390' y='150' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='390' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='390' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='390' y='330' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='390' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='390' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='390' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1022' x='450' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='450' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='450' y='150' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='450' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='450' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='450' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='450' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='510' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='510' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='510' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='510' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='510' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='510' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='510' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='510' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='510' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='510' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='570' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='570' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='570' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='570' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='570' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='570' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='570' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='570' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='570' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='630' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='630' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='630' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='630' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='630' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='630' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='630' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='630' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='630' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='630' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='690' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1024' x='690' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1023' x='690' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='690' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1019' x='690' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1020' x='690' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='690' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='690' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1021' x='690' y='570' stroke='%231c538e'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ECEDF7;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
}

.navcover h1 {
  font-size: 4.5em;
  font-weight: bold;
}

.navcover p {
  font-size: 1.5em;
}

.navcoverimage img {
  width: auto;
  height: 400px;
}

.navcoverloginbutton {
  display: flex;
  margin-top: 50px;
}

.navlogintext {
  color: white !important;
}

#navcoverlogin {
  box-shadow: 10px 10px 40px 1px #A689E1;

}

#wave {
  width: 100%;
  height: 30%;
  left: 0;
  position: absolute;
  /* SVG AND ANIMATIONS animation: wave linear 40s infinite; */
  bottom: 0;
  z-index: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* login page */

.loginpage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 125px;
}

.loginform {
  width: 500px;
  margin: 0px 125px 125px 125px;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23bbbbbb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23555555' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23bba0b8' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23614d5f' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b983b5' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%236c436a' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b665b2' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23763774' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b143ae' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%237f267e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  box-shadow: 20px 20px 40px 2px #A689E1;
  
}

.logininput {
  border-radius: 5px;
  height: 50px;
  width: 400px;
  padding: 20px;
  font-size: 1em;
}

.loginheader {
  margin: 20px;
}

.loginheader h3 {
  font-weight: bold;
  font-size: 2.1em;
}

.loginpage label {
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}


.loginsubmit {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.loginsubmit input {
  font-size: 1.5em;
  background-color: #7434C3;
  border: none !important;
  padding: 5px;
  border-radius: 10px;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.loginsubmitempty {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.loginsubmitempty p{
  font-size: 1.5em;
  background-color: grey;
  border: none !important;
  padding: 5px;
  border-radius: 10px;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.switchlog {
  color: #0645AD;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
}

/* Site Explanation */

.siteexplanation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.explanation {
  display: flex;
  background-color: #1f2833;
  color: #f5f5f5;
  justify-content: center;
  width: 70%;
  margin: 30px;
  border-radius: 30px;
  box-shadow: rgb(14, 14, 15) 0px 1px 2px 0px, rgb(14, 13, 15) 0px 1px 3px 1px;
}

.explanation img {
  width: auto;
  /* height: 300px; */
  min-height: 100px;
  max-height: 300px;
}

.explanation p {
  font-size: 1.5em;
}

#explanationitem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

#middleexplanation {
  background-color: white !important;
  color: #1f2833 !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.rotate {
  animation: rotation 75s infinite linear;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Create Post Page */

.postforminner {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.creatposttitle {
  margin-top: 120px;
  margin-bottom: 50px;
}

.creatposttitleheader {
  margin-left: 100px;
  margin-bottom: 20px;
}

.posttitle {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 20px 0px;
}

.posttitle input {
  border-radius: 5px;
  height: 50px;
  width: 400px;
  padding: 20px;
}

.postimages {
  display: flex;
  justify-content: space-around;
}

.postimages img {
  width: 400px;
  height: auto;
}

#file {
  width: 400px;
  height: 250px;
  background-color: whitesmoke;
  cursor: pointer;
  transition-duration: .5s;
}

#file:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.postdescription {
  display: flex;
  justify-content: space-around;
  margin:30px;
  text-align: center;
}

.postsubmit {
  display: flex;
  justify-content: center;
}

.postsubmit input {
  font-size: 1.5em;
  background-color: #7434C3;
  border: none !important;
  padding: 5px;
  border-radius: 10px;
  color: whitesmoke;
  width: 150px;
}

.postsubmit input:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.postsubmit input:active {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background-color: whitesmoke;
  color: black;
}

/* All Post */

.allpost {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.allpost p {
  font-size: 2em;
  font-weight: bold;
  max-width: 400px;
}

.allpostsingle {
  background-color: #1f2833;
  border-radius: 20px;
  width: 1000px;
  overflow: hidden;
  margin: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition-duration: .3s;
  color: white;
}

.allpostsingle:hover {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  cursor: pointer;
}

.allpostheader {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #9e9c9c;
}

.swapimage {
  width: 70px !important;
  height: 70px !important;
}

.allpostheader img {
  border-radius: 60px;
  height: auto;
  width: 50px;
  background-color: white;
}

.allpostheader p {
  margin: 0px;
  font-size: 1.2em !important;
  margin-left: 5px;
}

.allpostimages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.allpostimages img {
  height: 300px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}


/* POST PREVIEW */

.postpreview {
  margin-top: 100px;
}

.postpreviewheader {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.postpreviewheader img {
  height: auto;
  width: 100px;
  border-radius: 80px;
  margin-right: 20px;
}

.singelpostimages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.singelpostimages img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.singelpostimages p {
  margin: 0px;
}

.singelpostimages h1 {
  width: 400px;
}

.singlepostdescription {
  background-color: #F3F3F3;
  padding-left: 10%;
}

/* User Settings Page */

.usersettings {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.settingscontainer2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
  width: 900px;
  height: auto;
  border-radius: 20px;
  padding: 30px;
  overflow: hidden;
}

.settingscontainer {
  display: flex;
  justify-content: space-around;
}

.settingscontainer img{
  height: 250px;
  width: 250px;
  border-radius: 120px;
}

.settingsimg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.settingsimg input {
  width: 150px;
}

.settingsusername {
  font-size: 2em;
}

.settinsuseinfo p{
  font-size: 1.2em;
}

.userp {
  background-color: rgb(173, 173, 173);
  padding: 10px;
  border-radius: 10px;
}

.editbutton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.editbutton p {
  font-size: 1.5em;
  background-color: #7434C3;
  border: none !important;
  padding: 5px;
  border-radius: 10px;
  color: whitesmoke;
  width: 150px;
  text-align: center;
}

.editinput {
  border-radius: 5px;
  padding: 20px;
  font-size: 1em;
  width: 100%;
  height: 30px;
}


/* footer */

footer {
  height: 75px;
  background-color: #4D2EBC;
  width: 100%;
  position: sticky;
  top: 100%;
}

.footercontent {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
